.comments{
    border: 2px solid gray;
     margin-bottom: 20px;
}
.widget-title{
    text-align: center;
}
.comments li{
    list-style: none;
}
.comments img{
    border-radius: 5px;
}
.combine{
    width: 100%;
}
.avatar{
    float:left;
    margin-right:5px;
}
