.sidebar{
   // background-color:#d9edf7;
    border-radius: 10px;
    
}


.post-widget li img{
    height: 100px;
    width:150px;
}
.post-widget li{
    list-style: none;
   
}
.post-list  img{
    height: 100px;
    width:150px;
    padding: 10px;
}
.post-list {
    list-style: none;
    clear: both;
   
}
.post-list  a{
text-decoration: none;}

.popular{
    color:#428bca;
}
.widget-title{
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
   
}
.post-widget {
  background-color: #d9edf7;
  border-radius: 15px;
  border-color: #31708f;
  padding-top : 10px;
   
 }
 .image{
     float: left;
    margin-left: 5px;
    margin-top: 10px;
 }
 .post-widget li a{
     text-decoration: none;
     color: #428bca;
  
 }
 .post-list{
     height: 100px;
 }
 .image{
     float: left;
 }
 .post-widget li{
     height: 150px;
 }
 .show{
  
    margin: 20px;
  
 }
 .author-widget {
     background-color: #d9edf7;
     border-radius: 15px;
     border-color: #31708f;
    padding: 10px;
    margin-bottom: 20px;
 }
 
 .author-widget  a{
     color: #428bca;
     text-decoration: none;
     
     
 }
 .widget-title{
     color: #428bca;
 }
  hr{
    border-top: 3px solid #428bca !important;
 }
 .gravatar img{
     border-radius: 10px;
 }